<div class="footer">
  <span><%= current_year %></span>
  <span>Яна Манцевич</span><br>
  <span><%= github_link('yanamanc', 'TestGuru') %> - платформа для тестирования</span><br>
  <span><a href="thinknetica.com" target="blank">Учебный проект в онлайн-школе Thinknetica</a></span>
</div>
