<div class="footer">
  <span><%= current_year %></span>
  <span>Яна Манцевич</span><br>
  <span><%= github_link('yanamanc', 'TestGuru') %> - платформа для тестирования  |<a href="http://thinknetica.com/" target="blank">Учебный проект в онлайн-школе Thinknetica</a></span><br>
  <%= link_to 'Contact us', new_feedback_path %>
</div>
